@import 'config';
@import 'responsive';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
}

section {
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;

    .imgBox {
        position: relative;
        width: 50%;
        height: 100%;

        &::before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: linear-gradient(225deg, $white, $black);
            z-index: 1;
            mix-blend-mode: screen;

        }

        img {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }


    .contentBox {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 50%;
        height: 100%;

        .formBx {
            width: 50%;

            h2 {
                color: $bg-color;
                font-weight: 600;
                font-size: 1.5rem;
                text-transform: uppercase;
                margin-bottom: 20px;
                border-bottom: 4px solid $black;
                display: inline-block;
                letter-spacing: 1px;
            }


            .inputBx {
                margin-bottom: 20px;


                span {
                    font-size: 16px;
                    margin-bottom: 5px;
                    display:     inline-block;
                    color: $bg-color;
                    font-weight: 300;
                    letter-spacing: 1px;
                }

                input {
                    width: 100%;
                    padding: 10px 20px;
                    outline: none;
                    font-weight: 400;
                    border: 1px solid $black;
                    font-size: 16px;
                    letter-spacing: 1px;
                    color: $bg-color;
                    background: transparent;
                    border-radius: 20px;

                }

                input[type="submit"] {
                    background: $bg-color;
                    color: #fff;
                    outline: none;
                    border: none;
                    font-weight: 500;
                    cursor: pointer;

                    &:hover {
                        background: $bg1-color;
                    }
                }

                p {
                    color: $bg-color;

                    a {color: $bg1-color;

                    }
                }
            }


            .remember {
                margin-bottom: 10px;
                color:  $bg-color;
                font-weight: 400;
                font-size: 14px;
            }

            h3 {
                color: $bg-color;
                text-align: center;
                margin: 80px 0 10px;
                font-weight: 500;
            }


            .sci {
                display: flex;
                justify-content: center;
                align-items: center;

                li {
                    list-style: none;
                    width: 50px;
                    height: 50px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    background: $bg-color;
                    border-radius: 50%;
                    margin: 0 7px;
                    cursor: pointer;

                    &:hover {
                        background: $bg1-color;
                    }


                    img {
                        transform: scale(0.5);
                        filter: invert(1);
                    }
                }
            }

        }
    }
}


@media (max-width: 768px) {

    section {
        .imgBox {
            position: absolute;
            width: 100%;
            height: 100%;
        }

        .contentBox {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
            height: 100%;
            z-index: 1;


            .formBx {
                width: 100%;
                padding: 40px;
                background: rgb( 255 255 255 / 0.9);
                margin: 50px;

                h3 {
                    color: $bg-color;
                    text-align: center;
                    margin: 30px 0 10px;
                     font-weight: 500;
                }
            }
        }
    }
    

}